{% extends "base.html" %}

{% block title %}Main{% endblock %}

{% block content %}
    <h2>Main</h2>
    <table>
        <thead>
                <tr>
                    <th>Название</th>
                    <th>Статус</th>
                </tr>
        </thead>
        <tbody>
            {% for order in orders %}
                <tr>
                    <td>{{ order.name }}</td>
                    <td>{{ order.status }}</td>
                </tr>
            {% endfor %}
            {% if is_waiter %}
            <a href="{% url 'add_order' %}">Add Order</a>
          {% endif %}
        </tbody>
    </table>
    <li><a href="{% url 'logout' %}">Logout</a></li>
{% endblock %}
